
<h4 class="page-header">{{title}}</h4>

<div>

  <p>

    Mark Caplin has specialized in Information Technology solutions for over 30 years. 
    Specializing in full life-cycle development projects for both enterprise-wide systems and 
    Internet/Intranet based solutions.
    </p>

  <p>
    For the past fifteen years, Mark has specialized in the Microsoft .NET framework using C# as his tool of choice.
    For the past five years, Mark has also been developing Single Page Applications using the Angular platform.
    </p>
  <p>
    Mark currently is the Chief Solutions Architect at <a href="http://www.joeysoftwaresolutions.com">Joey Software Software Solutions, Inc.</a>
    When not coding, Mark enjoys playing tennis, listening to U2 music, watching Miami Dolphins football and watching movies in Blu-Ray technology.
    In between all this, his wife of over 20 years, feeds him well with some great home cooked meals.

  </p>
</div>
